body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal
}

input, button, textarea, select, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit
}

input, button, textarea, select {
*font-size:100%
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
font: 13px/1.231 arial, helvetica, clean, sans-serif;
*font-size:small;
*font:x-small;
}

table{
	font-size: inherit;
	font: 100%;
}

/* font size */

h1,h2,h3,h4,h5,h6{
	font-weight: 32px;
}

h1, .h2{
	font-size: 26px;
}

h3, .h3{
	font-size: 24px;
}

h4, .h4{
	font-size: 22px;
}

h5, .h5{
	font-size: 18px;
}

h6, .h6{
	font-size: 14px;
}


/* clear */

clear{
	clear: both;
	visibility: hidden;
	display: block;
	font-size: 0;
	line-height: 0;
}


