
/*
Orange color: #e67e22

*/


/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ----- HEADINGS ----- */

@font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto'), local('Roboto-Regular'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2*/
      url(data:font/woff2;resource=6;base64,) format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

    /* cyrillic */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto'), local('Roboto-Regular'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2*/
      url(data:font/woff2;resource=7;base64,) format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    /* greek-ext */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto'), local('Roboto-Regular'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2*/
      url() format('woff2');
      unicode-range: U+1F00-1FFF;
    }

    /* greek */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto'), local('Roboto-Regular'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2*/
      url() format('woff2');
      unicode-range: U+0370-03FF;
    }

    /* vietnamese */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto'), local('Roboto-Regular'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2*/
      url(data:font/woff2;resource=10;base64,) format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto'), local('Roboto-Regular'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2*/
      url() format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto'), local('Roboto-Regular'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2*/
      url(data:font/woff2;resource=12;base64,) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* cyrillic-ext */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      src: local('Roboto Medium'), local('Roboto-Medium'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCRc4AMP6lbBP.woff2*/
      url(data:font/woff2;resource=13;base64,) format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

    /* cyrillic */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      src: local('Roboto Medium'), local('Roboto-Medium'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fABc4AMP6lbBP.woff2*/
      url() format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    /* greek-ext */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      src: local('Roboto Medium'), local('Roboto-Medium'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCBc4AMP6lbBP.woff2*/
      url(data:font/woff2;resource=15;base64,) format('woff2');
      unicode-range: U+1F00-1FFF;
    }

    /* greek */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      src: local('Roboto Medium'), local('Roboto-Medium'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBxc4AMP6lbBP.woff2*/
      url(data:font/woff2;resource=16;base64,) format('woff2');
      unicode-range: U+0370-03FF;
    }

    /* vietnamese */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      src: local('Roboto Medium'), local('Roboto-Medium'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCxc4AMP6lbBP.woff2*/
      url(data:font/woff2;resource=17;base64,) format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      src: local('Roboto Medium'), local('Roboto-Medium'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2*/
      url(data:font/woff2;resource=18;base64,) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      src: local('Roboto Medium'), local('Roboto-Medium'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2*/
      url(data:font/woff2;resource=19;base64,) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* cyrillic-ext */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Bold'), local('Roboto-Bold'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCRc4AMP6lbBP.woff2*/
      url() format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

    /* cyrillic */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Bold'), local('Roboto-Bold'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfABc4AMP6lbBP.woff2*/
      url(data:font/woff2;resource=21;base64,) format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    /* greek-ext */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Bold'), local('Roboto-Bold'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCBc4AMP6lbBP.woff2*/
      url(data:font/woff2;resource=22;base64,) format('woff2');
      unicode-range: U+1F00-1FFF;
    }

    /* greek */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Bold'), local('Roboto-Bold'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBxc4AMP6lbBP.woff2*/
      url() format('woff2');
      unicode-range: U+0370-03FF;
    }

    /* vietnamese */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Bold'), local('Roboto-Bold'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCxc4AMP6lbBP.woff2*/
      url(data:font/woff2;resource=24;base64,) format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Bold'), local('Roboto-Bold'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2*/
      url() format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */

    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Bold'), local('Roboto-Bold'), /*savepage-url=https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2*/
      url() format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
  </style>
  <style data-savepage-href="https://cdn.netlify.com/css/2a8b592eadef148637e6f72bff5fd3bc7b41523e/main-v2.css">
    .hidden {
      display: none !important
    }

    .visuallyhidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      white-space: nowrap
    }

    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
      white-space: inherit
    }

    .invisible {
      visibility: hidden
    }

    .nowrap {
      white-space: nowrap
    }

    .clearfix::after {
      content: "";
      display: table;
      clear: both
    }

    @keyframes call-for-attention {
      from,
      to {
        transform: scale(1, 1)
      }
      25% {
        transform: scale(.8, 1.2)
      }
      50% {
        transform: scale(1.2, .8)
      }
      75% {
        transform: scale(.9, 1.1)
      }
    }

    :root {
      font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 1.25rem
    }

    body {
      font-size: 1rem;
      line-height: 1.618;
      background: #F3F7F8;
      color: rgba(14, 30, 37, .54)
    }

    .inverse {
      background: #F3F7F8;
      color: #000D0F;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale
    }

    svg {
      fill: currentColor;   
    }

    .col-hov:hover{
      background-color: #fff;
    }
    .col-hov>h3{
      margin-top: -0px;
      color:#010c0f;
    }
    .col-hov>p{
          margin-top: -.9em;
    }
  .col-hov>img{
    color: #3b484d;
  box-shadow: 0 2px 4px 0 rgba(14, 30, 37, .12);
    }

    .ui.header:first-child{
      margin-top: -0.0em !important;
    }
  .ui-margin{
       margin-top: -0.0em !important;
    }
    .

    .column>h3{
      margin-top: -10px;
    }
    .row{
      margin-bottom: 20px;
    }

    .svg>img{
      width: 100%;
      height: 100%;
      margin-top: -9px;
    }


}

    .h1,
    .h2,
    .h3,
    .h4,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 500;
      color: #152125;
      margin: 1.618em auto 0
    }

    .inverse .h1,
    .inverse .h2,
    .inverse .h3,
    .inverse .h4,
    .inverse h1,
    .inverse h2,
    .inverse h3,
    .inverse h4,
    .inverse h5,
    .inverse h6 {
      color: #000;
    }

    .h1+p,
    .h2+p,
    .h3+p,
    .h4+p,
    h1+p,
    h2+p,
    h3+p,
    h4+p,
    h5+p,
    h6+p {
      margin-top: .5em
    }

    .h1,
    h1 {
      font-size: 1.618em;
      line-height: 1.333;
      font-weight: 600
    }

    @media (min-width:32em) {
      .h1,
      h1 {
        font-size: calc(1.618em + 1vw);
        line-height: 1.2
      }
    }

    @media (min-width:60em) {
      .h1,
      h1 {
        font-size: 2.618em
      }
    }

    .h2,
    h2 {
      font-size: 1.618em;
      line-height: 1.333;
      font-weight: 600
    }

    @media (min-width:60em) {
      .h2,
      h2 {
        font-weight: 500;
        font-size: 2em;
        line-height: 1.2
      }
    }

    .h3,
    h3 {
      font-size: 18px;
      line-height: 1.333
    }

    blockquote,
    ol,
    p,
    ul {
      margin: 1em auto 0;
      padding: 0
    }

    p {
      max-width: 37.577em
    }

    ul {
      list-style: none
    }

    .subdued {
      color: rgba(14, 30, 37, .54)
    }

    .icon {
      width: 1em;
      height: 1em;
      display: inline-block;
      vertical-align: middle
    }

    .hr {
      position: relative
    }

    .hr::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-image: linear-gradient(-90deg, rgba(14, 30, 37, 0) 0, #0e1e25 5%, #0e1e25 90%, rgba(14, 30, 37, 0) 100%);
      opacity: .08
    }

    .inverse .hr::after {
      background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0, #fff 5%, #fff 90%, rgba(255, 255, 255, 0) 100%)
    }

    .hr--bottom::after {
      bottom: 0
    }

    .hr--top::after {
      top: 0
    }

    body {
      padding: 0;
      margin: 0;
      position: relative;
      /* background: #fff; */
    }

    /* img {
      max-width: 100%
    } */

    .container {
      box-sizing: border-box;
      position: relative;
      max-width: 60rem;
      padding: 0 1em;
      margin: 0 auto
    }

    .container::after,
    .container::before {
      content: "";
      display: table;
      clear: both
    }
    .container-footer {
      box-sizing: border-box;
      position: relative;
      max-width: 60rem;
      padding: 0 1em;
      margin: 0 auto;
      background: #fff;
      background-color: #fff;
    }

    .container-footer::after,
    .container-footer::before {
      content: "";
      display: table;
      clear: both
    }



    @supports(padding:max(0px)) {
      .container {
        padding-left: max(1em, env(safe-area-inset-left));
        padding-right: max(1em, env(safe-area-inset-right))
      }
    }

    @media (min-width:32em) {
      .container {
        padding: 0 1.618em
      }
      @supports(padding:max(0px)) {
        .container {
          padding-left: max(1.618em, env(safe-area-inset-left));
          padding-right: max(1.618em, env(safe-area-inset-right))
        }
      }
    }

    @media (min-width:60em) {
      .container {
        padding: 0 6em
      }
      @supports(padding:max(0px)) {
        .container {
          padding-left: max(2em, env(safe-area-inset-left));
          padding-right: max(2em, env(safe-area-inset-right))
        }
      }
    }

    .media {
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: center;
      align-items: center
    }

    @media (min-width:60em) {
      .media {
        flex-direction: row
      }
    }

    .media-body,
    .media-img {
      margin-top: 1.618em
    }

    @media (min-width:60em) {
      .media-body,
      .media-img {
        margin-top: 0.218em
      }
    }

    .media-body {
      max-width: 29.03em
    }

    .media-body>:first-child {
      margin-top: 0
    }

    .media-img {
      text-align: center;
      order: -1
    }

    .media-img svg {
      display: block;
      width: 11.089em;
      height: auto;
      margin: auto
    }

    @media (min-width:60em) {
      .media-img {
        margin-right: 2.618em
      }
    }

    .grid {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }

    .grid>* {
      margin-top: 1.618em
    }

    @media (min-width:32em) {
      .grid {
        align-items: center;
        justify-content: center
      }
    }

    @media (min-width:60em) {
      .grid {
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        margin-left: -2.618em
      }
      .grid>* {
        margin-top: 2.618em;
        padding-left: 2.618em
      }
    }

    @media (min-width:60em) {
      .grid--alternate {
        flex-direction: column;
        margin: 0 auto
      }
      .grid--alternate .media {
        flex-direction: row;
        padding-left: 0
      }
      .grid--alternate .media:nth-child(even) .media-img {
        order: 1;
        margin-right: 0;
        margin-left: 2.618em
      }
    }

    .link,
    a {
      color: #00b09f;
      text-decoration: none;
      outline-color: #00c2b2
    }

    .link:hover,
    a:hover {
      text-decoration: underline
    }

    .inverse .link,
    .inverse a {
      color: #fff;
      opacity: .8
    }

    .inverse .link:hover,
    .inverse a:hover {
      opacity: 1
    }

    .footnote-link {
      color: currentColor;
      opacity: .5
    }

    .footnote-link:hover {
      text-decoration: none;
      opacity: 1
    }

    .cta-link {
      display: block;
      font-weight: 500;
      padding-right: 1em
    }

    .cta-link::after {
      content: "→";
      display: inline-block;
      margin-left: .236em;
      margin-right: -1.618em;
      position: relative;
      top: .01em
    }

    .inverse .cta-link {
      opacity: 1
    }

    .block-link {
      position: static
    }

    .block-link::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1
    }

    @keyframes button-loading {
      0% {
        background-position: 0 0
      }
      100% {
        background-position: 700% 0
      }
    }

    .button{
      margin:20px 20px 20px 0;
      margin-left: 30%;
      margin-right: 30%
    }
    .button {
      box-sizing: border-box;
      position: relative;
      z-index: 1;
      display: inline-block;
      vertical-align: middle;
      padding: .3em 1em;
      outline: 0;
      font-family: inherit;
      font-size: .9rem;
      font-weight: 500;
      line-height: 1.2222222;
      text-align: center;
      text-decoration: none;
      border: none;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(14, 30, 37, .12);
      cursor: pointer;
      background: #00b09f;
      color: #fff;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transition: all .15s ease
    }

    .button:focus,
    .button:hover {
      text-decoration: none;
      background-color: #00c2b2
    }

    .button:active {
      background-color: #00a396;
      box-shadow: none
    }

    .button:disabled {
      pointer-events: none;
      opacity: .38;
      box-shadow: none
    }

    .inverse .button {
      opacity: 1
    }

    .button.loading {
      opacity: 1;
      background-image: /*savepage-url=/img/v2/dacf62994d338dde502eea16a71ab569541a57ac/loading-stripes-white.png*/
      url();
      background-repeat: repeat-x;
      background-size: contain;
      background-origin: border-box;
      background-position: 0 0;
      animation: button-loading 20s linear infinite;
      pointer-events: none
    }

    .button.loading::after {
      content: "…";
      position: absolute
    }

    .button--icon {
      font-size: 1em;
      padding: .618em;
      background: 0 0;
      box-shadow: none;
      color: rgba(14, 30, 37, .38)
    }

    .button--icon:focus,
    .button--icon:hover {
      background: 0 0;
      color: #0e1e25
    }

    .inverse .button--icon {
      background: 0 0;
      color: #fff;
      opacity: .8
    }

    .button--secondary {
      background: #e8e8e9;
      color: #0e1e25;
      opacity: .8;
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: auto;
      font-size: .85rem;
      font-weight: 500;
      padding: .5em 1em;
      box-shadow: none
    }

    .inverse .button--secondary {
      background: #e8e8e9;
      color: #0e1e25;
      opacity: .8
    }

    .button--secondary:focus,
    .button--secondary:hover {
      background: #e8e8e9;
      color: #0e1e25;
      opacity: 1
    }

    ::placeholder {
      opacity: .6
    }

    label {
      cursor: pointer
    }

    input,
    textarea {
      box-sizing: border-box;
      display: block;
      width: 100%;
      margin: 0;
      border: 2px solid rgba(14, 30, 37, .09);
      border-radius: 4px;
      background: #fff;
      color: #0e1e25;
      outline-color: #ffc60a;
      box-shadow: none;
      font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: inherit;
      font-weight: 500;
      line-height: 1.618em;
      transition: box-shadow ease-in-out .15s;
      padding: .382em 1em;
      -webkit-appearance: none;
      -moz-appearance: none
    }

    .error input,
    .error textarea {
      border-color: #fa3946;
      outline-color: #fdd3d6
    }

    .search {
      position: relative
    }

    .search button {
      position: absolute;
      top: 0;
      right: .146em
    }

    .search .icon {
      background: #fff
    }

    .label {
      font-weight: 500;
      color: rgba(14, 30, 37, .54)
    }

    .floating-labels .label {
      display: block;
      margin-top: .382em;
      transform: translate3d(1em, calc(2em + 2px), 0);
      transition: .2s ease
    }

    .floating-labels .floating .label {
      transform: scale(.75) translate3d(-16%, 0, 0)
    }

    .floating-labels .form-field {
      margin-top: 0
    }

    .floating-labels .form-footer {
      margin-top: 2em
    }

    .icon-labels input {
      padding-left: 2.618em
    }

    .icon-labels .label {
      position: absolute;
      display: flex;
      align-items: center
    }

    .icon-labels .label svg {
      margin: .618em
    }

    .icon-labels .label span {
      opacity: 1;
      transition: .3s ease-out
    }

    .icon-labels .floating .label span {
      opacity: 0
    }

    .modal {
      box-sizing: border-box;
      display: block;
      visibility: hidden;
      position: fixed;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
      outline: 0;
      align-items: flex-start;
      justify-content: center;
      display: flex;
      font-size: .85rem
    }

    .modal::before {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(14, 30, 37, .54);
      z-index: -1;
      opacity: 0;
      transition: opacity 0ms ease 0s
    }

    .modal.active,
    .modal:target {
      visibility: visible;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch
    }

    .modal.active::before,
    .modal:target::before {
      opacity: 1;
      transition: opacity 4s ease
    }

    @supports (-webkit-backdrop-filter:blur()) {
      .modal.active::before,
      .modal:target::before {
        -webkit-backdrop-filter: blur(10px);
        transition: opacity .3s ease .1s
      }
    }

    .modal-content {
      position: relative;
      margin: 16vh 1em 1em;
      padding: 1em;
      background: #fff;
      color: #0e1e25;
      border-radius: 8px;
      flex: 1;
      box-shadow: 0 14px 40px rgba(14, 30, 37, .4);
      opacity: 0;
      transform: scale(0);
      transition: transform .1s ease 0s, opacity .1s ease 0s
    }

    .modal-content header>:first-child,
    .modal-content>:first-child {
      margin-top: 0
    }

    .modal-content .button {
      display: block
    }

    .modal-content .button .icon {
      position: relative;
      top: -1px;
      margin-left: -.236em;
      margin-right: .236em
    }

    .modal-content .button--secondary {
      display: inline-block
    }

    .modal-content .button--icon .icon {
      margin: 0
    }

    .modal-content .button--close {
      position: absolute;
      z-index: 1000;
      padding: 0;
      font-size: 1.25rem;
      line-height: 1;
      right: 0;
      top: 0;
      margin: .5rem
    }

    .active .modal-content,
    :target .modal-content {
      opacity: 1;
      transform: scale(1);
      transition: transform .3s cubic-bezier(.8, -.4, .2, 1.44) 0s, opacity .3s cubic-bezier(.8, -.4, .2, 1.44) 0s
    }

    .logo {
      width: 2.618em;
      height: 2.618em
    }

    .nav {
      display: flex;
      justify-content: space-between
    }

    .nav ul {
      margin: 1em 0;
      line-height: 1.6;
    }

  
/* footer */
#layer_10 
{ 
	 left: 1298px; 
	 top: 1504px; 
	 width: 81px;
	 height: 80px;
	 z-index:6;
} 


 #layer_5 
{ 
  margin-top: 20px;
}  
.quote-qrs{
 
}
/* footer */

/* .svg>h3{
  -webkit-text-stroke-width: 100%;
  width: 100%;
  height: 100%;
} */
  .svg{
      margin: 0 0 0 0;
      margin-top: -6px;
      overflow: hidden;
      clear: both;
      display: block;
      width: 100%;
      
    }
    .footer-text{
      color: #000 !important;
    }

    .nav a:not(.button) {
      display: block;
      font-weight:100 !important;
      font-size: 18px;
      color: #0b0b0c;
      white-space: nowrap
    }
    .active{
      color: #239ba5;
    }
    .quote{
   margin-left:5px 5px 20px 5px;
      /*padding: 40px; */
    border-left: 3px solid #bdc3c7;
    padding-left: 5px;
    }
    .quote-qr{
      margin-left: 50px;
      width: 111px;
      height: 100px;
	   left: 502px; 
     top: 1466px; 
    }
.whatermrk{
  padding: 20px;
  background-color: #fff!important;
}
small{

   margin-left: 40%;
}


  .meddle-cont{
    background-color: #F3F7F8;
  }

span{
  text-align: center;
}
    .inverse .nav a:not(.button) {
      opacity: .8;
      color: #000;
    }

    .nav a:not(.button):focus,
    .nav a:not(.button):hover {
      text-decoration: none;
      opacity: 1
    }

    .nav a.highlight {
      font-weight: 500;
      opacity: 1
    }

    .inverse .nav a.highlight {
      opacity: 1
    }
/* 
    .nav .icon {
      margin: .618em;
      width: 1.618em;
      height: 1.618em
    } */

    .nav .button--icon {
      display: block;
      padding: 0;
      margin: 0;
      font-size: .618em
    }

    .nav .button--icon .icon {
      padding: 0;
      margin: 0
    }

    .nav--inline {
      align-items: center;
      justify-content: flex-start
    }

    .nav--inline ul {
      display: flex;
      align-items: center;
      justify-content: center
    }

    .nav--inline ul+ul {
      margin-left: auto
    }

    .nav--inline li {
      margin-left: 1em
    }

    .nav--inline a {
      line-height: 1
    }

    .nav--separators li {
      margin-left: 0
    }

    .nav--separators a::before {
      speak: none;
      content: "|";
      display: inline-block;
      text-align: center;
      width: 1.618em
    }

    .nav--separators li:first-child a::before {
      display: none
    }
/* 
    .dropdown-menu:hover{
      color: red !important;
    } */
    

    /* drop down   start*/

  .dropdown>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.dropdown>li {
    float: left;
}


.dropdown>li {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content>a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: #f7f8f8;}

.dropdown:hover .dropdown-content {
    display: block;
}

    /* drop down  end*/

    .modal--menu {
      font-size: 1em;
      align-items: flex-start;
      justify-content: flex-end;
      transform-origin: 50% 0
    }

    @media (min-width:32em) {
      .modal--menu {
        transform-origin: 100% 0
      }
    }

    .modal--menu .modal-content {
      margin-top: 1em
    }

    @media (min-width:30em) {
      .modal--menu .modal-content {
        max-width: 14.354em
      }
    }

    .modal--menu .search-button .icon {
      margin-right: 0
    }

    .modal--menu li:last-child,
    .modal--menu li:last-child a,
    .modal--menu ul {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px
    }

    .modal--menu ul {
      margin: .618em -1em -1em;
      overflow: hidden
    }

    .modal--menu ul a {
      font-size: 1.1rem;
      display: block;
      line-height: 2.618em;
      padding: 0 1em;
      color: rgba(14, 30, 37, .87);
      font-weight: 500;
      outline: 0
    }

    .modal--menu ul a:focus,
    .modal--menu ul a:hover {
      background: rgba(14, 30, 37, .09);
      text-decoration: none
    }

    .modal--menu li:nth-child(even) {
      background: rgba(14, 30, 37, .03)
    }

    .modal--menu .cta-link {
      background: #00b09f;
      color: #fff
    }

    .modal--menu .cta-link:focus,
    .modal--menu .cta-link:hover {
      background: #00c2b2
    }

    .site-header {
      padding-top: .618em;
    }

    .site-header ul {
      margin-left: 0.24em
    }

    .site-header ul+ul {
      margin-left: auto
    }

    .site-header .logotype {
      width: 7.4em;
      height: 2em;
      margin: .618em 0
    }

    .site-header .button--icon {
      top: 1px
    }

    .site-header .button--secondary {
      display: none
    }

    @media (max-width:52em) {
      .site-header ul {
        display: none
      }
      .site-header .button--secondary {
        display: block;
        margin-left: auto
      }
      .site-header .hr::after {
        display: none
      }
    }

    .site-footer {
      font-size: .85rem;
      text-align: center;
      padding-bottom: 2.618em;
      color: rgba(14, 30, 37, .38);
      background-color: #fff;
    }

    .site-footer p {
      margin-top: .618em
    }

    

    .site-footer ul {
      margin-bottom: 0;
      flex: 1;
    margin-left:3em;
    }

    .site-footer ul a {
      color: #0e1e25;
     
    }

    .ui.centered.grid > .row > .column:not(.aligned):not(.justified){
      padding: 20px;
      transform: inherit;
    }

    .site-footer .hr--top {
      padding-top: 2.618em
    }

    .site-footer .nav {
      margin: 1em auto 0;
      max-width: 29.03em
    }

    .site-footer .nav--inline {
      justify-content: center
    }

    .wave {
      overflow: hidden;
      position: absolute;
      width: 100%;
      transform: translateY(-50%);
      color: #fff
    }

    .wave svg {
      fill: currentColor;
      width: 102%;
      margin-left: -1%;
      height: auto
    }

    .gradient {
      overflow: hidden;
      background-color: rgba(8, 0, 103, 1);
      background-image: linear-gradient(0deg, rgba(0, 7, 88, .8), rgba(8, 0, 103, 1));
      text-shadow: 0 2px 20px rgba(0, 0, 0, .16)
    }

    .gradient::after,
    .gradient::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 0
    }

    .gradient::before {
      background: radial-gradient(rgba(101, 0, 117, 1) 12.18%, rgba(85, 15, 100, 0) 73.53%);
      width: 100%;
      height: 200%;
      right: -30%;
      top: 0
    }

    .gradient::after {
      background: radial-gradient(rgba(0, 133, 93, 1) 2.94%, rgba(0, 173, 159, 0) 69.33%)
    }

    .gradient .container {
      z-index: 1
    }

    .hero,
    .section,
    .site-footer,
    .site-header {
      position: relative
    }

    .site-header {
      background: #fff;
      z-index: 9
    }

    .hero {
      padding: 4.236em 0 2.618em;
      margin-top: -4.236em
    }

    @media (min-width:60em) {
      .hero {
        padding: 4.236em 0
      }
    }

    @media (min-width:60em) {
      .hero h1 {
        max-width: 13em
      }
    }

    .hero p {
      max-width: 30em
    }

    .hero h1,
    .hero p {
      margin-left: 0
    }

    .hero footer {
      margin-top: 1.618em
    }

    .section {
      padding-bottom: 2.618em;
      margin-top: -1.618em
    }

    @media (min-width:32em) {
      .section {
        text-align: center;
        padding-bottom: 4.236em
      }
    }

    .section.inverse,
    .wave+.section {
      margin-top: 0
    }

    .section nav {
      justify-content: center
    }

    .section footer {
      font-size: .85rem;
      margin-top: 1.618em
    }

    .section footer p {
      margin-top: 1.618em
    }

    .section footer li {
      margin-top: 1em
    }

    .section .grid+footer {
      margin-top: 2.618em
    }

    @media (min-width:60em) {
      .section {
        padding-top: 1.618em;
        padding-bottom: 6.854em;
        margin-top: -6.854em
      }
    }

    .card {
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      border-radius: 8px;
      box-shadow: 0 2px 40px rgba(14, 30, 37, .16);
      text-shadow: none;
      padding: 1.618em;
      background: #fff;
      color: rgba(14, 30, 37, .87);
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: auto;
      text-align: left;
      font-size: .8rem;
      max-width: 23.224em
    }

    .card>* {
      margin-left: 0;
      margin-right: 0
    }

    .card header>:first-child,
    .card>:first-child {
      margin-top: 0
    }

    .card footer,
    .card header {
      color: rgba(14, 30, 37, .54)
    }

    .card .h1,
    .card .h2,
    .card .h3,
    .card .h4,
    .card .h5,
    .card .h6,
    .card h1,
    .card h2,
    .card h3,
    .card h4,
    .card h5,
    .card h6 {
      color: #0e1e25
    }

    .card p {
      margin-top: .382em
    }

    .card footer {
      margin-top: auto
    }

    .card footer p {
      margin-top: 1.618em
    }

    .card li {
      position: relative;
      padding-left: 1.618em;
      margin-top: .618em
    }

    .card li:first-child {
      margin-top: 0
    }

    .card li::before {
      content: "✓";
      display: block;
      width: 1.618em;
      height: 1.618em;
      line-height: 1.75;
      text-align: center;
      border-radius: 50%;
      font-size: .618em;
      font-weight: 900;
      background-color: rgba(14, 30, 37, .87);
      color: #fff;
      position: absolute;
      left: 0;
      top: .382em
    }

    .card .button {
      display: block;
      width: 100%
    }

    .hero .card {
      font-size: .85rem
    }

    .section--callout {
      background: #f7f8f8;
      padding: 1em 0;
      margin-top: 0
    }

    .section--callout+.section {
      margin-top: 0
    }

    .section--callout footer {
      font-size: 1rem;
      margin-top: 1.3em;
      margin-bottom: 2.618em
    }

    .section--callout .card {
      margin: 2.618em auto;
      align-self: center;
      box-shadow: 0 0 4.236em rgba(14, 30, 37, .09)
    }

    @media (min-width:32em) {
      .section--callout .card {
        max-width: 17.942em
      }
    }

    @media (min-width:60em) {
      .section--callout {
        padding: 2.618em 0;
        text-align: left;
        min-height: 14.354em;
        display: flex;
        align-items: center
      }
      .section--callout p {
        margin-left: 0
      }
      .section--callout .pull {
        width: 17.942em;
        display: flex
      }
      .section--callout .card {
        margin: 0
      }
      .section--callout section {
        padding-right: 20.56em
      }
      .section--callout .pull {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0
      }
      @supports (display:grid) {
        .section--callout section {
          padding-right: 0;
          display: grid;
          grid-template-columns: minmax(0, 37.577em) auto;
          grid-template-rows: auto auto;
          grid-column-gap: 2.618em;
          grid-template-areas: "header pullout" "footer pullout"
        }
        .section--callout section.reverse {
          grid-template-columns: auto minmax(0, 37.577em);
          grid-template-areas: "pullout header" "pullout footer"
        }
        .section--callout header {
          grid-area: header;
          align-self: end
        }
        .section--callout footer {
          grid-area: footer;
          align-self: start;
          margin-bottom: 0
        }
        .section--callout footer p {
          margin-top: 0
        }
        .section--callout h2 {
          margin-top: 0
        }
        .section--callout .pull {
          position: relative;
          grid-area: pullout;
          align-self: center
        }
      }
    }

    .search {
      box-sizing: border-box;
      background: #fff;
      color: rgba(14, 30, 37, .54);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
      font-size: 1rem;
      display: block;
      visibility: hidden
    }

    .search.active,
    .search:target {
      visibility: visible;
      animation: slide-up-search .3s cubic-bezier(.8, -.4, .2, 1.44) 0s forwards
    }

    .search p {
      margin-left: 0;
      max-width: none
    }

    .search .container {
      display: flex;
      flex-direction: column;
      max-width: 46.971em;
      padding: 2.618em 1em
    }

    @media (min-width:30em) {
      .search .container {
        padding: 2.618em
      }
    }

    .search-close {
      position: absolute;
      right: 0;
      font-size: 1.25rem
    }

    @media (min-width:60em) {
      .search-close {
        font-size: 1.618em
      }
      .search-close::after {
        content: "esc";
        display: block;
        font-size: .382em
      }
    }

    .search-input {
      border: none;
      border-radius: 0;
      border-bottom: 4px solid rgba(14, 30, 37, .09);
      background: 0 0;
      box-sizing: border-box;
      width: 100%;
      outline: 0;
      -webkit-appearance: none;
      padding: .5rem 0;
      font-size: 1.618em;
      font-weight: 500;
      transition: border-color 3s ease
    }

    @media (min-width:60em) {
      .search-input {
        font-size: 2.618em
      }
    }

    .search-input:focus {
      border-color: #00b09f
    }

    .search-results {
      order: 1
    }

    .search-results h3 {
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1.5px;
      text-transform: uppercase
    }

    .search-results h3::after {
      background: #00b09f;
      content: ' ';
      display: block;
      height: 2px;
      margin-top: 5px;
      width: 24px
    }

    .search-results p {
      margin-top: 2.618em
    }

    .search-results li {
      margin-top: .618em
    }

    .search-results li a {
      color: rgba(14, 30, 37, .87)
    }

    .search-results .grid {
      margin-top: 0;
      margin-bottom: 2.618em;
      align-items: flex-start;
      justify-content: flex-start
    }

    @media (min-width:60em) {
      .search-results .grid>* {
        flex-basis: 33%
      }
    }

    .search-footer {
      margin-top: .618em
    }

    .search-algolia-logo {
      height: 1em;
      filter: grayscale(100%);
      opacity: .54
    }

    @keyframes slide-up-search {
      0% {
        transform: translateY(2em);
        opacity: 0
      }
      100% {
        transform: translateY(0);
        opacity: 1
      }
    }
  </style>

  <!-- page styles -->
  <style data-savepage-href="https://cdn.netlify.com/css/6cfb1461380603cf96ad36d6ce7a1cd488ce4289/home.css">
    .page--home .section.inverse~.section,
    .page--home .site-footer {
      background: #f4f7f8
    }

    .page--home .section.inverse~.wave svg {
      fill: #f4f7f8
    }

    .hero--home {
      padding: 5.483em 0
    }

    .hero--home .container {
      z-index: 2
    }

    .hero--home h1 .smaller {
      display: block
    }

    @media (max-width:33em) {
      .hero--home h1 {
        font-size: calc(2em + 1vw);
        margin-top: 1em
      }
      .hero--home h1 span {
        display: block
      }
      .hero--home h1 .smaller {
        font-size: .618em;
        margin-top: .4rem
      }
    }

    .hero--home .illo {
      overflow: hidden;
      background: #fff;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1
    }

    .hero--home .illo svg {
      flex: 0 0 auto;
      height: 36em;
      width: auto
    }
.media:hover{
  background-color: #fff;
}

    @media (max-width:33em) {
      .hero--home .illo svg {
        height: 48em
      }
    }

    @media (min-width:50em) {
      .hero--home .illo svg {
        height: 40em;
        margin-left: -14.354em
      }
    }

    @media (min-width:60em) {
      .hero--home .illo svg {
        margin-left: -11.089em
      }
    }

    @media (min-width:72em) {
      .hero--home .illo svg {
        margin-left: 0
      }
    }

    @media (min-width:4096px) {
      .hero--home .illo {
        top: 0;
        bottom: auto
      }
      .hero--home .illo svg {
        width: 100%;
        height: auto
      }
    }

    .hero--home+.section {
      margin-top: 0
    }

    .hero--home+.section .container {
      z-index: 2
    }

    .section--home-core {
      background: linear-gradient(-180deg, #fff 10%, #f9fbfc 90%);
      text-align: center
    }

    .section--home-core .grid {
      counter-reset: step;
      margin-bottom: -2.618em
    }

    @media (min-width:60em) {
      .section--home-core .grid {
        text-align: left
      }
    }

    .section--home-core li {
      counter-increment: step
    }

    .section--home-core h3 {
      margin-top: 1em;
      white-space: nowrap
    }

    .section--home-core h3::before {
      display: inline-block;
      content: counter(step);
      background: rgba(14, 30, 37, .38);
      color: #fff;
      border-radius: 50%;
      font-size: .618em;
      width: 1.618em;
      line-height: 1.618em;
      text-align: center;
      margin-right: .618em;
      position: relative;
      top: -.236em
    }

    .section--home-core svg {
      max-width: 100%;
      height: auto
    }

    @media(min-width:60em) {
      .section--home-core svg {
        width: 100%
      }
    }

    .section--home-beyond {
      background: #f9fbfc
    }

    .section--home-beyond h2 {
      text-align: center
    }

    .section--home-beyond .grid {
      max-width: 37.577em
    }

    .section--home-benefits .media {
      flex-direction: column;
      justify-content: flex-start
    }

    @media (min-width:60em) {
      .section--home-benefits {
        padding-bottom: 6.854em
      }
    }

    .section--home-validation {
      text-align: center
    }

    @media (min-width:60em) {
      .section--home-validation {
        padding-bottom: 4.236em
      }
    }

    .section--home-validation .logos {
      color: #0e1e25;
      max-width: 46.971em;
      margin: 2.618em auto 1em
    }

    .section--home-validation .logos svg {
      margin: .618em;
      vertical-align: middle
    }

    .section--home-validation .scrollable-wrapper {
      overflow: hidden;
      height: 11em;
      margin-top: 2.618em
    }

    @media (min-width:60em) {
      .section--home-validation .scrollable-wrapper {
        margin-bottom: 1.618em
      }
    }

    .section--home-validation .scrollable {
      overflow: auto;
      margin: 0;
      padding-bottom: 40px;
      display: flex;
      flex-direction: row
    }

    .section--home-validation .card--tweet {
      margin: 0 .5em;
      max-width: 72vw
    }

    @media (max-width:30em) {
      .section--home-validation .scrollable-wrapper {
        height: 12em
      }
      .section--home-validation .scrollable-wrapper .card--tweet {
        min-height: calc(12em - 40px)
      }
    }

    @media (max-width:22.5em) {
      .section--home-validation .scrollable-wrapper {
        height: 13em
      }
      .section--home-validation .scrollable-wrapper .card--tweet {
        min-height: calc(13em - 40px)
      }
    }

    .card--tweet {
      box-sizing: content-box;
      width: 23.224em;
      box-shadow: 0 2px 4px 0 rgba(14, 30, 37, .12)
    }

    .card--tweet a {
      position: relative;
      z-index: 1
    }

    .card--tweet cite {
      margin-top: auto;
      padding-top: 1.618em;
      display: flex;
      align-items: flex-end;
      font-style: normal;
      font-weight: 500;
      color: rgba(14, 30, 37, .54)
    }

    .card--tweet cite a {
      position: static;
      color: inherit;
      z-index: 0
    }

    .card--tweet cite a:hover {
      color: #0e1e25;
      text-decoration: none
    }

    .card--tweet cite a::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0
    }

    .card--tweet cite small {
      display: block;
      font-weight: 400;
      opacity: .9
    }

    .card--tweet cite .icon {
      display: inline-block;
      vertical-align: middle;
      width: 1.3em;
      height: 1.3em;
      fill: rgba(14, 30, 37, .09)
    }

    .card--tweet cite .avatar {
      border-radius: 50%;
      margin-right: 1em;
      overflow: hidden;
      width: 3em;
      height: 3em;
      flex: 0 0 3em
    }