p{
    font-size: 15px;
}
.ui .header.huge{
    text-align: center;
   
}
h4.ui.header.center{
    margin-left: 176px !important;
     font-size: 23px; 
}
.ui .huge{
    font-size: 37px;
} 
#layer_8{
    text-align: center;
    margin-left: 20px;
}