p{
    font-size: 15px;
}
.ui .header.huge{
    text-align: center;
   
}
h4.ui.header.center{
    margin-left: 166px !important;
     font-size: 23px; 
}
.ui .huge{
    text-align: center;
    font-size: 37px;
} 
#layer_8{
    text-align: center;
    margin-left: 20px;
}

/* product 2 */

h4.ui.header.center2{
     font-size: 14px; 
      text-align: center;
}
.ui .middle{
    text-align: center;
    font-size: 37px;
} 

/*  */

.ui .center .comp{
    font-size: 36px;
}
#layer_10_0 
{ 
   left: 553px; 
	 top: 1458px; 
	 width: 400px;
	
	 z-index:54;
} 

.ui.card{
    /* width: 430px; */
        width: 400px;
   
}

.ui.card > .content{
    left: 553px; 
	 top: 1458px; 
    padding: 35px;

}
.card{
    box-shadow: transparent;
     border-radius: 0rem !important;
}

.ui.card > :first-child{
    box-shadow: transparent;
     border-radius: 0rem !important;
}

.ui.card > .content>.dec{
    font-size: 22px;
}

.ui.card .meta{
    font-size: 14px;
}
.meddle-conts{
 margin-top: -50px;
 margin-left: 50px; 
}

 #layer_20180627_2 
{ 
    left: 539px;
    margin-top: -564px;
    clear: both;
    max-width: 389px;
} 
.card.news2{
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0) 0px 2px 40px;
}
.header.h1s{
    font-size: 14px;
    color: #9c9c9c;
}
.description.h2s{
    color: #3b484d;
    font-size: 18px;
}

.content.pad{
    margin-top: 30px;
}
a{
    text-decoration: none !important;
}
.atag{
    color: rgba(14, 30, 37, 0.54);
    text-decoration: none;
    font-size: 15px;
}

.container.container2{
     max-width: 220rem;
}
.container2 p{
     max-width: 800px;
} 

.ui.segment{
   border-radius:  0.585714rem;
}

.ui.horizontal.list{
    margin-top: 20px;
    margin-left: 50px;
}
.ui.horizontal.list > .item{
    font-size: 16px;
    margin-left: 70px;
}

.spacer{
    margin-top: 10px;
}

.ui .middle.header.header2{
    text-align: left;
}
.ui .middle.header.header2.smalll{
    font-size: 1px; !important;
}

/*  */
.smalll{
 margin-top: -20px;
}